@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
    --panel-left-width: 66.6%;
}

::-webkit-scrollbar {
    width: min(0.8vw, 16px);
}

::-webkit-scrollbar-track {
    background: #202324;
}

::-webkit-scrollbar-thumb {
    background: #575e62;
}

::-webkit-scrollbar-thumb:hover {
    background: #767d81;
}

html {
    scroll-behavior: smooth !important;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    font-size: 1.25vw;
    overflow: hidden;
}

.main-panel-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: var(--panel-left-width) 1vw auto;
}

.panel-element {
    height: 100%;
    width: 100%;
}

.panel-left {
    background-color: #2b399d;
    position: relative;
}

.panel-left-background-container {
    position: absolute;
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.panel-left-background-container img {
    width: min(85vh, 85%);
    animation-name: panel-left-background-spin;
    animation-duration: 180s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.panel-left-background-blur {
    height: 100%;
    width: 99.9%;
    backdrop-filter: blur(0.5vw);
    z-index: 10;
    pointer-events: none;
}

@keyframes panel-left-background-spin {
    from{rotate: 0;}
    to  {rotate: 360deg;}
}

.panel-left-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.questions-wrapper {
    position: absolute;
    width: min(90vh, 90%);
    aspect-ratio: 1.35;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.questions-answear {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.66vw 0;
    position: relative;
}

.questions-question::before,
.questions-answear div::before {
    width: fit-content;
    height: fit-content;
    display: block;
    content: attr(answear-text);
    position: absolute;
    z-index: 10;
}

.questions-question::before {
    z-index: 10;
    transform: translateY(-0.25vw);
    white-space: pre-line;
    font-size: 1.5vw;
    font-weight: 700;
}

.questions-answear div::before {
    transform: translate(2.2vw, 0.375vw);
    white-space: nowrap;
    font-size: 1.15vw;
    font-weight: 575;
}

.questions-answear-tile {
    width: 100.25%;
    height: fit-content;
}

.questions-question {
    width: 100%;
    height: fit-content;
    margin-bottom: 1vw;
    display: grid;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.questions-question-svg {
    width: 100%;
    height: 100%;
    scale: 1.05;
}

.panel-gap {
    background: rgb(43,57,157);
    background: linear-gradient(90deg, rgba(43,57,157,1) 0%, rgba(88,197,247,1) 10%, rgba(50,161,208,1) 40%, rgba(50,161,208,1) 60%, rgba(88,197,247,1) 90%, rgba(0,25,73,1) 100%);
}

.panel-right {
    background: rgb(18,39,160);
    background: linear-gradient(83deg, rgba(18,39,160,1) 0%, rgba(13,28,121,1) 25%, rgba(9,23,91,1) 50%, rgba(8,18,83,1) 75%, rgba(7,21,78,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.score {
    font-size: 2.2vw;
    font-weight: 1000;
    display: flex;
    flex-direction: column;
    width: 66.6%;
}

.score-element {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.score-element-text-title,
.score-element-text-value {
    z-index: 10;
}

.score-selector-wrapper {
    position: absolute;
    width: 66.6%;
    top: 100%;
    overflow: hidden;
}

.score-selector {
    height: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    position: relative;
}

.score-selector img {
    position: absolute;
    width: 130%;
}






#temp-button {
    width: 100px;
    height: 100px;
    background-color: #fff;
    cursor: pointer;
    z-index: 12323;
}
#temp-button:hover {
    scale: 1.1;
}