@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
    --top-bar-height: 5.5vh;
    --main-font-color: #fff;
    --background-color: #36393f;
}

::-webkit-scrollbar {
    min-width: 16px;
    width: 0.75vw;
    height: 0;
}

::-webkit-scrollbar-track {
    background: #202324;
}

::-webkit-scrollbar-thumb {
    background: #575e62;
}

::-webkit-scrollbar-thumb:hover {
    background: #767d81;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border: 0.1vw #202225;
}

html {
    scroll-behavior: smooth !important;
    /* overflow-y: scroll; */
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--main-font-color);
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--background-color);
}

/*
TOP BAR
*/

#top-bar {
    grid-area: top-bar;
    width: 100%;
    height: var(--top-bar-height);
    background-color: #202225;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

#title-container {
    width: 0;
    display: grid;
    align-content: space-between;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 1vh;
    position: absolute;
    left: 2vh;
    cursor: pointer;
}

#title-container img {
    height: calc(var(--top-bar-height) - 1.5vh);
}

#title {
    font-size: 2vw;
}

#title-welcome-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5vw;
}

#profile-container {
    position: absolute;
    right: 1.75vw;
    display: flex;
    gap: 0.5vw;
}

.v-line {
    height: auto;
    width: 0.2vh;
    background-color: #fff;
}

#profile,
#logout {
    transition: 0.15s;
    font-size: 1.25vw;
    cursor: pointer;
}

#profile:hover,
#logout:hover {
    transform: scale(1.1);
}


/*
MAIN
*/

#main-container {
    width: 100vw;
    height: calc(100vh - var(--top-bar-height));
    position: relative;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2vw;
    height: 82.5vh;
    width: 87.5vw;
    max-width: 85vh;
    /* aspect-ratio: 1; */
    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: inset 0 0 1vw 0.5vw rgba(32, 34, 37, 1);
    -moz-box-shadow: inset 0 0 1vw 0.5vw rgba(32, 34, 37, 1);
    box-shadow: inset 0 0 1vw 0.5vw rgba(32, 34, 37, 1);
    background-color: #35383d;
}

.inputs-list {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.input-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.25vw;
}

.input-field {
    font-size: 1.25vw;
    width: 50%;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 0.5vw;
    border: none;
    border-radius: 0.8vw;
    background-color: var(--background-color);
    color: var(--main-font-color);
    -webkit-box-shadow: inset 0px 0px 0.75vw 0px rgba(27, 27, 27, 1);
    -moz-box-shadow: inset 0px 0px 0.75vw 0px rgba(27, 27, 27, 1);
    box-shadow: inset 0px 0px 0.75vw 0px rgba(27, 27, 27, 1);
}

#buttons {
    display: flex;
    flex-direction: row;
    /* justify-content: end; */
    gap: 1vw;
    font-size: 0.9vw;
}

#buttons::after{
    content: "Zapisano zmiany!";
    color: #1ccf16;
    font-weight: 800;
    font-size: 1vw;
    transform: translateY(3vw);
    opacity: 0;
    transition: 0.33s;
}

#buttons.active::after{
    transform: translateY(0);
    opacity: 1;
}

#buttons div {
    cursor: pointer;
    padding: 0.75vw 1vw;
    border-radius: 0.75vw;
    transform: translateY(-0.75vw);
}

#cancel {
    background-color: rgb(207, 23, 23);
    --shadow-color: rgb(109, 7, 7);
    -webkit-box-shadow: 0px 0.75vw 0px 0px var(--shadow-color);
    -moz-box-shadow: 0px 0.75vw 0px 0px var(--shadow-color);
    box-shadow: 0px 0.75vw 0px 0px var(--shadow-color);
}

#cancel:active {
    transform: translateY(0);
    -webkit-box-shadow: 0px 0 0px 0px var(--shadow-color);
    -moz-box-shadow: 0px 0 0px 0px var(--shadow-color);
    box-shadow: 0px 0 0px 0px var(--shadow-color);
}

#submit {
    background-color: rgb(0, 153, 0);
    --shadow-color: rgb(11, 78, 11);
    -webkit-box-shadow: 0px 0.75vw 0px 0px var(--shadow-color);
    -moz-box-shadow: 0px 0.75vw 0px 0px var(--shadow-color);
    box-shadow: 0px 0.75vw 0px 0px var(--shadow-color);
}

#submit:active {
    transform: translateY(0);
    -webkit-box-shadow: 0px 0 0px 0px var(--shadow-color);
    -moz-box-shadow: 0px 0 0px 0px var(--shadow-color);
    box-shadow: 0px 0 0px 0px var(--shadow-color);
}